* {
    margin: 0;
    padding: 0;
}

.textLD {
    letter-spacing: 5px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    overflow: hidden;
    animation: 
    typing 2.5s steps(22) infinite alternate,
        cursor .4s step-end infinite alternate;
}

.textSD{
    letter-spacing: 5px;
    font-family: monospace;
    border-right: 4px solid;
    margin-bottom: 8px;
    width: 100%;
    overflow: hidden;
    animation: 
    typing 2s steps(10) forwards alternate,
        cursor .4s step-end infinite alternate;
    
    }
.textSDMS{
    letter-spacing: 5px;
    font-family: monospace;
    border-right: 4px solid;
    width: 100%;
    overflow: hidden;
    /* display: none; */
    visibility: hidden;
    animation: 
    typing 2s steps(11) 2s forwards alternate,
        cursor .4s step-end infinite forwards alternate;}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
        visibility: visible;
    }to{
        visibility: visible;
    }
}