*{
    margin: 0;
    padding: 0;
}
.div1{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in forwards;
}
.div2{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 0.15s forwards ;
}
.div3-1{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 0.30s forwards ;
}
.div3-2{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 0.45s forwards ;
}
.div3-3{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 0.60s forwards ;
}
.div4-1{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 0.75s forwards ;
}
.div4-2{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 0.90s forwards ;
}
.div5-1{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 1.05s forwards ;
}
.div5-2{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 1.2s forwards ;
}
.div5-3{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 1.35s forwards ;
}
.div6-1{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 1.5s forwards ;
}
.div6-2{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 1.65s forwards ;
}
.div6-3{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 1.8s forwards ;
}
.div7-1{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 1.95s forwards ;
}
.div7-2{
    visibility: hidden;
    animation: widthIncrease 0.15s ease-in 2.1s forwards ;
}
.alldiv:hover{
    /* transform: translateX(2px); */
    transition: all 0.15s ease;
}

@keyframes widthIncrease {
    from{
        visibility: visible;
        width: 0;
    }
    to{
        visibility: visible;
        width: 100;
    }
    
}