* {
    margin: 0;
    padding: 0;
}

.textLD {
    letter-spacing: 5px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    overflow: hidden;
    animation: 
    typing 2.5s steps(22) infinite alternate,
        cursor .4s step-end infinite alternate;
}
.textSD{
    font-size: 1em;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}